<div class="footer py-2">
    <div class="container">



        <div class="row justify-content-between">
            <div class="col-xl-4 col-md-6 ">
                <a routerLink="/"> <img src="../../assets/img/footer-logo.svg" height="56" alt=""></a>
                <br><br>
                <div class="address">
                    973 University Avenue, Los Gatos, CA 95032 <br> Phone: 1-888-849-9323 Fax: 650-725-9335 <br>
                    <hr class="my-2"> 4th Floor, Andras House, 60 Great Victoria Street <br> Belfast, BT2 7BB, Northern Ireland, UK <br>
                    <hr class="my-2"> Lees House, 21-23 Dyke Rd, Brighton BN1 3FE
                </div>
            </div>
            <div class="col-md-4 text-md-end">
                <div class="links">
                    <p><a href="#"> Privacy Policy</a></p>
                    <p class="ng-binding">© 2021 HighWire Press, Inc. All rights reserved.</p>
                    <p>
                        V 1.1.1
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>