<div class="mid-wrapper">
    <div class="container ">
        <div class="py-3   fs-4 fw-light color-theme1  text-red ">Select a subscriber record to view or modify their mapping with Open Athens
        </div>
        <div class="row ">
            <div class="col col-md-8  ">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Lookup by subscriber number:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <a routerLink="/subscriber-record" class="btn btn-danger rounded-0  mb-2">Search</a>
                </form>
            </div>
        </div>
    </div>
</div>