<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>






<div class="container">
    <div class="table">
        <div class="container ng-scope" ng-show="catalog.initialized">
            <div class="totals row">
                <div class="col-md-3 col-xs-3">
                    <h3 style="color: brown;">Journal Pricing</h3>
                </div>
                <div class="col-md-9 col-xs-9">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <h3>No. of specific prices</h3>
                            <h1 class="stat ng-binding" style="color: brown;">{{paginator.length}}&nbsp;</h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>

                                

            
                
                   
                            <div class ="serchbtn"style="display: flex; justify-content:space-between;">

                              <div class="dropdown">
                                <button type="button" class="dropbtn">ALL<i class="fa fa-sort-down" style="font-size:12px; vertical-align: 3px;"></i></button>
                                <div class="dropdown-content" role="menu">
                                  <a href="#" >All</a>
                                  <a href="#" >Issue</a>
                                  <a href="#" >Article</a>
                                </div>
                              </div>
                              

                                <!-- <button type="button" class="btn btn-primary">ALL
                                  <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
                                    <li><a href="" ng-click="priceType(null)">All</a></li>
                                    
                                    <li><a href="" ng-click="priceType('issue')">Issue</a></li>
                                    <li><a href="" ng-click="priceType('article')">Article</a></li>
                                  </ul>
                                </button> -->
                                <button type="button" class="btn btn-primary">USD($)</button>
                                <button type="button" class="btn btn-primary" (click)="addData()" href="javascript:void(0)">ADD</button>
                                
                                
                                <div class="serch" style="width: 60%; margin-left: 250px;">
                                    
                                    <input style="width:90%; border:1px solid grey;" type="text" placeholder="Search.." name="search" >
                                    <button class="bino" type="submit" style=" border: none; margin-right: 10px;" ><i class="fa fa-search" ></i></button>    
                                </div>
                                
                            </div>


                            
                                

            
            </div>

           <hr>





            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>DOI.</th>
                  <td mat-cell *matCellDef="let element">{{element.name | titlecase}}</td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Item Title</th>
                  <td mat-cell *matCellDef="let element">{{element.description | titlecase}}</td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="productType">
                  <th mat-header-cell *matHeaderCellDef>Price Type</th>
                  <td mat-cell *matCellDef="let element">{{element.productType | titlecase}}</td>
                </ng-container>


                <ng-container matColumnDef="price_interval">
                  <th mat-header-cell *matHeaderCellDef>Access Period</th>
                  <td mat-cell *matCellDef="let element">{{element.price_interval}} Hours</td>
                </ng-container>


                <ng-container matColumnDef="price_amount">
                  <th mat-header-cell *matHeaderCellDef>Price</th>
                  <td mat-cell *matCellDef="let element">{{element.price_amount |currency}}</td>
                </ng-container>


              
                <!-- Symbol Column -->
                <ng-container matColumnDef="options">
                  <th mat-header-cell *matHeaderCellDef>options</th>
                  <td mat-cell *matCellDef="let element">
                      <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-cog fa-lg">&nbsp;<span class="caret"></span></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" (click)="viewAdd(element)"  href="javascript:void(0)">View/Add Prices</a></li>
                          <li><a class="dropdown-item" (click)="edit(element)" href="javascript:void(0)">Edit</a></li>
                          <li><a class="dropdown-item" (click)="delete(element)" href="javascript:void(0)">Delete</a></li>                                                
                        </ul>
                      </div>

                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                
                <tr
                    mat-row
                    
                    [class.demo-row-is-clicked]="clickedRows.has(row)"
                    *matRowDef="let row; columns: displayedColumns;"
                ></tr>
              </table>                      

            <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
  </mat-paginator>

              <!-- <div>
                <h3>
                  Click Log
                </h3>
              </div>
              
              <div *ngIf="!clickedRows.size">
                Clicked rows will be logged here
              </div>
              
              <ul>
                <li *ngFor="let clickedRow of clickedRows">
                  Clicked on {{clickedRow.name}}
                </li>
              </ul>
               -->
        <!-- </div> -->




