<!-- <div class="container">
    <h1 style="text-transform:capitalize; color: brown;"> Manage Default Journal Prices</h1>
    <h5 style="color: grey; margin-top: 10px;">Selected Sites</h5>

    <select class="select" name="chapter" id="chapter">
        <option value="" selected="selected">Please select site</option>
        <option value="{{site.site_code}}" *ngFor="let site of sitedata" selected="selected">{{site.site_name}}</option>
    </select>

    <!-- <div class="container">
          <h5 style="color: grey; margin-top: 10px;">Default Price</h5>
        <div class="row md-12">
          <div class="col-2">
            
          </div>
          <div class="col-2">
                Currency
                
          </div>
          <div class="col-2">
            
                Forsale
                
          </div>
          <div class="col-2">
            
                Price
                
          </div>
          <div class="col-2">
            
                
                
                Access Period
          </div>
          <div class="col-2">
            
          </div>
        </div>
        <ng-template *ngFor="let item of pricearray;let ind=index">

            <div class="row">
                <div class="col-2">
                    {{item.productType}}
                </div>
            <div class="col-2">
                <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="USD" name="{{item.price_currency+ind}}" [(ngModel)]="item.price_currency">
            </div>
            <div class="col-2">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-2">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"  name="{{item.price_amount+ind}}" [(ngModel)]="item.price_amount" >
                </div>
            </div>
            <div class="col-2">
                <div class="btn-group" role="group">
                    <!-- <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    24 Hours
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul> 
                <select class="mb-3 btn btn-primary dropdown-toggle" name="{{item.price_interval+ind}}" [(ngModel)]="item.price_interval"  >                            
                    <option *ngFor="let item1 of accessPeriods" value={{item1.value}} >{{item1.label}}</option>                            
                  </select>
            </div>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-danger">Remove</button>
        </div>
    </div>
</ng-template> -->
    <!-- <div class="row mt-3">
        <div class="col-2">
            article
        </div>
        <div class="col-2">
            <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" placeholder="USD" >
        </div>
            <div class="col-2">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-2">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" >
                </div>
            </div>
            <div class="col-2">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        24 Hours
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger">Remove</button>
            </div>
          </div>
          <div class="row"> 
            <div class="col-12">
                <button type="button" class="btn btn-info">Add Price</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item"  href="javascript:void(0)" (click)="addPrice('issue')">Issue</a></li>
                    <li><a class="dropdown-item"  href="javascript:void(0)" (click)="addPrice('article')">Article</a></li>
                    
                  </ul>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-10">
                <button type="button" class="btn btn-danger" >Cancel</button>
            </div>
            <div class="col-1" style="float: right;">
                <button type="button" class="btn btn-info" (click)="update()">Save</button>
              </div>
          </div>


         </div>

     -->
    <!-- <form class="form">
        <h5 style="color: grey; margin-top: 10px;">Default Price</h5> 
        <table class=" table">
            <tr class="thline">
                <th></th>
                <th>Currency</th>
                <th>Forsale</th>
                <th>Price</th>
                <th>Access Panel</th>
            </tr>
            <tr *ngFor="let item of pricearray;let ind=index">
                <td class="isar">{{item.productType}}</td>
                <td>
                    <div class="input-group input-group-sm "> -->

                        <!-- <select class="mb-3 btn btn-primary dropdown-toggle" name="{{item.price_currency+ind}}"
                            [(ngModel)]="item.price_currency">
                            <option *ngFor="let curr of currency" value="{{curr}}">{{curr}}</option>
                        </select> -->

                     <!--   <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" name="{{item.price_currency+ind}}"
                            [(ngModel)]="item.price_currency" placeholder="USD">
                    </div>
                </td>
                <td><label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label></td>
                <td>
                    <div class="input-group input-group-sm ">
                        <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
                        <input type="text" class="form-control" name="{{item.price_amount+ind}}"
                            [(ngModel)]="item.price_amount" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>
                </td>
                <td>
                    <div class="btn-group" role="group">

                        <select class="mb-3 btn btn-primary dropdown-toggle" name="{{item.price_interval+ind}}"
                            [(ngModel)]="item.price_interval">
                            <option *ngFor="let item1 of accessPeriods" value={{item1.value}}>{{item1.label}}</option>
                        </select>


                    </div>
                </td>
                <td><button type="button" class="btn btn-danger" (click)="removeitem(ind)">Remove</button></td>

            </tr>

            <tr>
                <td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Add Price
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="javascript:void(0)" (click)="addPrice('issue')">Issue</a>
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0)"
                                    (click)="addPrice('article')">Article</a></li>

                        </ul>
                    </div>


                </td>


            </tr>

            <tr>
                <td><button type="button" class="btn btn-danger" >Cancel</button></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div><button type="button" (click)="update()" class="btn btn-info">Save</button></div>
                </td>

            </tr>
        </table>
    </form>
</div> -->

<!-- newhtml -->
<div class="container">
    <h1 style="text-transform:capitalize; color: brown;"> Manage Default</h1>
    <h5 style="color: grey; margin-top: 10px;">Selected Sites</h5>
    <select class="select"name="chapter" id="chapter">
        <option value=""  selected="selected">Please select site</option>
        <option value="{{site.site_code}}" *ngFor="let site of sitedata" selected="selected">{{site.site_name}}</option>
      </select>          
    <form class="form">
        <h5 style="color: grey; margin-top: 10px;">Default Price</h5>
        <table class=" table">
            <tr class="thline">
                <th></th>
                <th>Currency</th>
                <th>Forsale</th>
                <th>Price</th>
                <th>Access Panel</th>
            </tr>
            <tr  *ngFor="let item of pricearray;let ind=index">
                <td class="isar">{{item.productType}}</td>
                <td> 
                     <div class="input-group input-group-sm ">

                    <select class="mb-3 btn btn-primary dropdown-toggle" name="{{item.price_currency+ind}}" [(ngModel)]="item.price_currency"  >                            
                        <option *ngFor="let curr of currency" value="{{curr}}">{{curr}}</option>                            
                      </select>

                    <!-- <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="{{item.price_currency+ind}}" [(ngModel)]="item.price_currency" placeholder="USD"> -->
                </div>
                </td>
                <td><label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label></td>
                <td>
                    <div class="input-group input-group-sm ">
                        <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
                        <input type="text" class="form-control"  name="{{item.price_amount+ind}}" [(ngModel)]="item.price_amount"  aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" >
                    </div>
                </td>
                <td>
                    <div class="btn-group" role="group">

                        <select class="mb-3 btn btn-primary dropdown-toggle" name="{{item.price_interval+ind}}" [(ngModel)]="item.price_interval"  >                            
                            <option *ngFor="let item1 of accessPeriods" value={{item1.value}} >{{item1.label}}</option>                            
                          </select>

                       
                    </div>
                </td>
                <td><button type="button" class="btn btn-danger" (click)="removeitem(ind)" >Remove</button></td>
                
            </tr>

            <tr>
                <td>
                    <td>
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Add Price
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item"  href="javascript:void(0)" (click)="addPrice('issue')">Issue</a></li>
                          <li><a class="dropdown-item"  href="javascript:void(0)" (click)="addPrice('article')">Article</a></li>
                          
                        </ul>
                      </div>


                    </td>

                
            </tr>
           
            <tr>
                <td><button type="button" class="btn btn-danger">Cancel</button></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><div><button type="button" (click)="update()" class="btn btn-info">Save</button></div></td>
                
            </tr>        
        </table>
    </form>
</div>