<div class="mid-wrapper">
    <div class="bg-primary fs-4 p-3 text-center text-white fw-light">Enter your login credentials below.
    </div>
    <div class="login-box">


        <div class="container my-5">

            <div class="row justify-content-end">
                <div class="col-lg-6 col-md-7 col-sm-10 col-xl-5 ">

                    <form class="border  p-4">

                        <div class="mb-3 row">
                            <label for="exampleInputEmail1" class="col-sm-3 col-form-label text-md-end">User Name</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="exampleInputPassword1" class="col-sm-3 col-form-label text-md-end">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>
                        <div class="mb-3 form-check d-flex justify-content-end">
                            <div class="col-sm-9  ">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
                            </div>
                        </div>
                        <a routerLink="/subscriber" class="btn btn-danger rounded-0 w-100 btn-block">LOG-IN</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>