<div class="mid-wrapper">
    <div class="container ">
        <div class="py-3   fs-4 fw-light color-theme1  text-red ">Work with a subscriber record</div>
        <div class="row ">
            <div class="col-md-12 mb-3">
                <div class=" card  border-0 rounded-0 ">
                    <div class="">
                        <div class=" border-bottom pb-2 mb-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="fs-6 mb-0">Subscriber information: </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-12 ">
                                <div class="rounded-0 ">
                                    <div class="">
                                        <div class="table-responsive">
                                            <table class="table  table-bordered font-13" style="white-space:nowrap">
                                                <tbody>
                                                    <tr class="common-gray" align="center">
                                                        <th> Fulfilment Data</th>
                                                        <th>Activated Data</th>
                                                        <th>Athens Info</th>
                                                    </tr>
                                                </tbody>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <table class="table table-borderless  table-sm ">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="row">Customer Number:</th>
                                                                        <th>10025776</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row">Subscriber Type:</th>
                                                                        <td>SI (Institutions)</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Name:</th>
                                                                        <td>Mark</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Institution Name</th>
                                                                        <td>GEORGETOWN UNIV MEDICAL CENTER DAHL GREN MEM LIBRARY</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Email: </th>
                                                                        <td><a href="mailto:  dmlijournals@georgetown.edu"> dmlijournals@georgetown.edu</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Last Modified:</th>
                                                                        <td> 7/23/2020 08:19</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">Edit fulfilment data	</a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table class="table table-borderless  table-sm border-right">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="row">Customer Number:</th>
                                                                        <th>10025776</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row">Username:</th>
                                                                        <td>dahlgren</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">User Type:</th>
                                                                        <td> INST</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Contact Name: </th>
                                                                        <td>Jeff McCann</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Title: </th>
                                                                        <td>Librarian
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Institution Name: </th>
                                                                        <td> Dahlgren Memorial Library, GUMC</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Email: </th>
                                                                        <td><a href="mailto:  dmlijournals@georgetown.edu"> dmlijournals@georgetown.edu</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Phone: </th>
                                                                        <td> (202) 687-8874</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Fax:
                                                                        </th>
                                                                        <td> (202) 687-1703</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Last Modified:
                                                                        </th>
                                                                        <td> 7/23/2020 08:19:37</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">Edit activated data	</a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="wsn">

                                                            <p> <strong>Entity Name: <br>Natural England</strong></p>
                                                            <p> <strong>Scope: <br>71280905.defra.gsi.gov.uk</strong></p>


                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">


                            <div class="col-sm-12 col-md-12 ">

                                <a href="#" class="btn btn-danger rounded-0 btn-sm " data-bs-toggle="modal" data-bs-target="#exampleModal">Unlink this institute from this Entity
</a>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h5" id="exampleModalLabel">Unlink institute</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do You want to Unlink this institute from this Entity
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Unlink</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>



</div>